<div class="form_container my-4">
    <form method="post" action="/news">
        <div class="form-group">
            <label for="exampleInputCode1">Enter your code</label>
            <input type="text" name="code" class="form-control" id="exampleInputCode1" aria-describedby="CodeHelp" placeholder="Enter Code">
        </div>
        <button type="submit" class="btn btn-primary mt-2">Submit</button>
    </form>
</div>