(@import url(http://fonts.googleapis.com/css?family=Karla:400,700); ) body {
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    font-family: 'Karla', sans-serif;
    color: #333;
}

/* Header */
header {
    background-color: #333333;
    margin: 0 0 40px 0;
    padding: 10px 0 0 0;
    min-height: 50px;
    text-align: center;
}

h1 {
    background-image: url(../images/creative-folk.png);
    background-repeat: no-repeat;
    background-position: center center;

    margin: 10px auto 5px auto;
    width: 516px;
    height: 21px;
    text-align: center;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

/* Filter and search options */
#search {
    text-align: center;
    margin-bottom: 30px;
}

/* Search input */
input {
    font-size: 120%;
    border: 1px solid #999;
    padding: 5px;
}

input:hover {
    border: 1px solid #999;
}

input:focus {
    border: 1px solid #00cccc;
    outline: none;
}

/* Gallery of images */
#gallery {
    text-align: center;
    max-width: 1020px;
    margin: 0 auto;
}

#gallery img {
    width: 300pxh;
    height: 150px;
    border-radius: 3px;
    border: 8px solid #fff;
    margin: 6px;
    -webkit-box-shadow: 0 0 3px 3px #ebebeb;
    box-shadow: 0 0 3px 3px #ebebeb;
    float: left;
}